*{
    box-sizing: border-box;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center {
    margin: 0 auto;
    width: 1130px; 
}

#header-search  h1{
    width: 222px;
    height: 56px;
    display: inline-block;
    background: 
    url(https://s.pstatic.net/static/www/img/uit/sp_main_dba1af.png) 0 -158px no-repeat;
    background-size: 457px 434px;
    position: relative;
    top: -5px;

    }
#header-search h1 span{
        display: none;
    }

#header-search a {
        text-decoration: none;
        vertical-align: middle;
    }

#header-search h2{
    display: none;
}
#header-search fieldset{
    margin-left: 20px;
    width: 586px;
    height: 56px; 
    display: inline-block;
    border: 2px solid #19ce60;
    padding: 0;
    vertical-align: middle;
    position: relative;
}
#header-search fieldset input{
    width: 474px;
    height: 50px ;
    border: none;
    padding: 13px 15px;
    margin: 1px;
    outline: none;
}
#header-search fieldset button{
   width: 56px;
   height: 56px; 
   border: none;
   padding: 0;
   background-color: #19ce60;
   position: absolute;
   right: 0;
   top: -2px;
}
#search-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(./sp_main.png) -420px 0;
    background-size: 457px 434px;
}